.App {
  text-align: center;
}

.thanksTitle {
  background-color: white;
  padding: 16px;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: row;
  min-width: 275px;
}

@media (max-width: 600px) {
  .thanksTitle {
    flex-direction: column;
    gap: 0;
  }
}

.thanksCard {
  background-color: white;
  padding: 16px;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-direction: column;
  min-width: 275px;
}